{% extends "base.html" %}

{% block title %}Task Form{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_task.css') }}">
{% endblock %}



{% block content %}
<h2>New Task</h2>
<div class="oneline">
   <h3>Title:</h3>
   <button>Save</button>
   <button>Discard</button>
</div>

<button>priority ▼</button>

<div class="titles">
   <h4>Start</h4>
   <h4>End</h4>
</div>

<div class="times">

   <button>Date</button>
   <button>Time</button>
   <button>Date</button>
   <button>Time</button>
</div>










<div class ="priority">
   <button id="menu-toggle" class = "taskdropdown-menu"></button>
   <div id="menu-dropdown" class = "menu hidden">
      <button>High</button>
   </div>

</div>


{% endblock %}



{% block script %}
   <script src="{{ url_for('static', filename='js/add_task.js') }}"></script>
{% endblock %}
