<!DOCTYPE html>									
<html lang="en"> 								
<head> 										
   <meta charset="UTF-8">							
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

	
   <title>{% block title %}Task Manager{% endblock %}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
   {% block css %}{% endblock %} 


</head>
<body>

   <nav class="navbar">
      <button id="menu-toggle" class="hamburger-menu">☰</button>
      <div id="menu-dropdown" class="menu hidden">
         <button id="theme-toggle">🌙 Toggle Theme</button>
         <a href="{{ url_for('main.upcoming_page') }}" class="nav-link">✅ Upcoming</a>
         <a href="{{ url_for('main.calendar_page') }}" class="nav-link">🗓️Calendar</a>
         <a href="{{ url_for('main.notes_page') }}" class="nav-link">📝Notes</a>

      </div>
      <a href="{{ url_for('main.home_page') }}" class="return-button">Task Manager</a>


   </nav>

   <main>
      {% block content %}{% endblock %}
   </main>




   <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
   {% block script %}{% endblock %}
</body>

</html>