<!-- calendar.html -->
<div class="calendar-container">
    <div class="calendar-header">
        <button class="nav-button" id="prev-month">&lt;</button>
        <span id="month-year" class="month-year"></span>
        <button class="nav-button" id="next-month">&gt;</button>
    </div>

    <div class="calendar-days-of-week">
        <span>Mon</span>
        <span>Tue</span>
        <span>Wed</span>
        <span>Thu</span>
        <span>Fri</span>
        <span>Sat</span>
        <span>Sun</span>
    </div>
    <div id="calendar-days" class="calendar-days"></div>
    
</div>