{% extends "base.html" %}

{% block title %}Upcoming Page{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upcoming.css') }}">
{% endblock %}

{% block content %}
<h2>Tasks</h2>

<div class="grid-wrapper">
    <h3>Upcoming Task</h3>
    <div id="grid" class="grid-table">
        <div class="grid-row">
            <div class="grid-cell">Task Name</div>
            <div class="grid-cell">Task Description</div>
            <div class="grid-cell">Task Priority</div>
            <div class="grid-cell">Task Due Date</div>
            <div class="grid-cell">Task Complete</div>
            <div class="grid-cell">Delete</div>
        </div>
    </div>
    <button onclick="addRow()" class="add-row-button">+ Add Row</button>
</div>
<div class="grid-wrapper">
    <h3>Completed Tasks</h3>
    <div id="completed-grid" class="grid-table">
        <div class="grid-row">
            <div class="grid-cell">task</div>
            <div class="grid-cell">task</div>
            <div class="grid-cell">task</div>
            <div class="grid-cell">task</div>
            <div class="grid-cell">Return</div>
        </div>
    </div>
</div>

{% endblock %}

{% block script%}
    <script src="{{url_for('static', filename='js/upcoming.js') }}"></script>
{% endblock %}